<!--
  Generated template for the LabprofileprofessionalinfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
</ion-header>


<ion-content padding>

   <!-- <ion-item>
    <ion-label floating>Associated Doctor</ion-label>
    <ion-input type="text" (keyup)="filterassociateddoctor($event)" [(ngModel)]="associatedDoctor"></ion-input>
  </ion-item>

   <ion-item *ngIf=" AllDoctor?.length > 0">
   <ion-list *ngFor="let d of AllDoctor" (click)="getDoctorId(d)"> 
    {{d.providerName}}
   </ion-list>
   </ion-item>

  <ion-item>
    <ion-list>
      <ion-item *ngFor="let list of professionalProfile.doctor">
        {{list.providerName}}
        <ion-icon class="trashicon" (click)="deleteElementDoctor(list)" name="trash" data-ng-if="(professionalProfile.doctor.length > 0)"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-item> -->


<!--@arpit
  <ion-item>
    <ion-label floating>Associated Report</ion-label>
    <ion-input type="text"  (keyup)="filterassociatedreport($event)" [(ngModel)]="associatedReport" ></ion-input>
  </ion-item>

  <ion-item *ngIf=" AllLabData?.length > 0">
   <ion-list *ngFor="let d of AllLabData" (click)="getReportId(d)"> 
    {{d.lrl1Name  }}
   </ion-list>
   </ion-item>

  <ion-item>
    <ion-list>
      <ion-item *ngFor="let list of professionalProfile.labReportsLevel1">
        {{list.lrl1Name}}
        <ion-icon class="trashicon" (click)="deleteElementReport(list)" name="trash" data-ng-if="(professionalProfile.labReportsLevel1.length > 0)"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-item>
-->

 <!--  <ion-item>
    <ion-label floating>Associated Medicine</ion-label>
    <ion-input type="text" [(ngModel)]="associatedMedicine"></ion-input>
  </ion-item>

  <button ion-button (click)="addtoListMedicine()">Add Medicine</button>

  <ion-item>
    <ion-list>
      <ion-item *ngFor="let list of professionalProfile.associatedMedicineList">
        {{list}}
        <ion-icon class="trashicon" (click)="deleteElementMedicine(list)" name="trash" data-ng-if="(professionalProfile.associatedMedicineList.length > 0)"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-item> -->

  
  <!-- <div padding align="center">
    <div padding>
      <button ion-button type="submit" (click)="submitDetails()">Submit</button>
      <button ion-button type="Cancel">Cancel</button>
    </div>
  </div> -->
</ion-content>