page-patientprofiledocuments {

}
.uploaded-img img {
    max-width: 100%;
    height: 100%;
}
.uploaded-img {
    display: block;
    clear: both;
    border: 1px solid #ccc;
    height: 150px;
    width: 150px;
    text-align: center;
}