<!--
  Generated template for the HospitalpatientadmitlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
      <button ion-button menuToggle right>
      <ion-icon name="" class="toggleMenu"></ion-icon>
      </button>
      <ion-title>Hospital Patient Admit List</ion-title>
      <ion-buttons left>
      <button ion-button icon-only >
      <ion-icon name="" class="header-logo"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<!-- <ion-tabs selectedIndex="1">
    <ion-tab [root]="tab1Root" [tabTitle]="Today" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab2Root" [tabTitle]="Tommorrow" tabIcon="home"></ion-tab>
    <ion-tab [root]="tab3Root" [tabTitle]="View All" tabIcon="home"></ion-tab>
  </ion-tabs> -->
  
  
<ion-content padding>
    <div class="cmn-list-page">
      <div class="cmn-tab-dsgn">
          <ul>
            <li class="first" (click)="changeItem(1)"><button type="button" class="tab-btn">Today</button></li>
            <li (click)="changeItem(2)"><button type="button" class="tab-btn">Tomorrow</button></li>
            <li class="last" (click)="changeItem(3)"><button type="button" class="tab-btn">View All</button></li>
          </ul>
      </div>
      <ion-list class="cmn-tb-cntnt">
        <ion-item-sliding #slidingItem *ngFor="let item of currentAppointlist">
            <ion-item (click)="openItem(item)" >
                <div class="ptnt-name">{{item.providerName}}</div>
                <div class="rson-fr-meet">{{item.fcLocationName}} - {{item.facilityCenterType}}</div>
                <div class="apmnt-tm">{{item.patAppDate}} {{item.totime}}</div>
                <div class="apmnt-status">{{item.patAppStatus}}</div>
              </ion-item>
                 <ion-item-options *ngIf="item.patAppStatus== 'Pending' && selectRole == 'Patient'">
                  <button ion-button color="calm" (click)="editItem(item.patAppointmentID)">Edit</button>
                  <button ion-button color="danger" (click)="Cancel(item)">Cancel</button>
                </ion-item-options>
                <ion-item-options *ngIf="item.patAppStatus== 'Completed' && selectRole == 'Patient'">
                  <button ion-button color="danger" (click)="ReBook(item)">Re-Book</button>
                </ion-item-options>
                <ion-item-options *ngIf="item.patAppStatus== 'Approved' && selectRole == 'Patient'">
                  <button ion-button color="danger" (click)="Cancel(item)">Cancel</button>
                </ion-item-options>
            <ion-item-options *ngIf="item.patAppStatus== 'Rejected' && selectRole == 'Patient'">
                <button ion-button (click)="ReBook(item)">Re-Book</button>
            </ion-item-options>
            <ion-item-options *ngIf="item.patAppStatus== 'Canceled' && selectRole == 'Patient'">
                <button ion-button (click)="ReBook(item)">Re-Book</button>
            </ion-item-options>
  
              <ion-item-options *ngIf="item.patAppStatus == 'Pending' && selectRole == 'Doctor'">
                <button ion-button (click)="Approved(item)">Approve</button>
                <button ion-button color="danger" (click)="Rejected(item)">Reject</button>
                <button ion-button color="danger" (click)="Canceled(item)">Cancel</button>
              </ion-item-options>
              <ion-item-options *ngIf="item.patAppStatus == 'Approved' && selectRole == 'Doctor'">
                <button ion-button (click)="Addvisit(item)">Add Visit</button>
                <button ion-button color="danger" (click)="Canceled(item)">Cancel</button>
              </ion-item-options>          
          </ion-item-sliding>
      </ion-list>
    </div>
    <ion-fab bottom right>
      <button style="background-color:#4633BE;" ion-fab (click)="addItem()"><ion-icon name="add"></ion-icon></button>
      </ion-fab>

</ion-content>
