<!--
  Generated template for the AddAppointmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle left>
      <ion-icon name="" class="toggleMenu"></ion-icon>
    </button>
    <ion-title>Order Pharmachy</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="" class="notification-icon"
          ><span class="ntfctn-dot"></span
        ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="book-apmnt ordr-pharmacy pt-20 bg-fff">
    <form class="cmn-form no-input-efct mb-20">
      <!-- <div class="floating-label cmn-select">
        <select
          class="floating-select form-control"
          name="facility"
          [(ngModel)]="facilityCenterID"
          (change)="getFacilityid($event.target.value)"
        >
          <option
            *ngFor="let category of facilitiesArray; let idx = index"
            [value]="category.facilityCenterID"
            >{{ category.facilityCenterName }}</option
          >
        </select>
        <label>Facility</label>
      </div> -->

      <div class="floating-label cmn-select">
        <select
          class="floating-select form-control"
          name="fcLocationName"
          [disabled]="locationArray.length == 0"
          [(ngModel)]="fcLocationMapID"
          (change)="getlocationid($event.target.value)"
        >
          <option
            *ngFor="let location of locationArray; let idx = index"
            [value]="location.fcLocationMapID"
            >{{ location.fcLocationName }}</option
          >
        </select>
        <label>Location</label>
      </div>

      <div class="floating-label cmn-select">
        <select
          class="floating-select form-control"
          (click)="getAllMedicalStore()"
          name="chemistName"
          [disabled]="MedicalStoreArray.length == 0"
          [(ngModel)]="fclProviderMapID"
          (change)="getmedicalStoreID($event.target.value)"
        >
          <option
            *ngFor="let medicalStore of MedicalStoreArray; let idx = index"
            [value]="medicalStore.fclProviderMapID"
            >{{ medicalStore.providerName }}</option
          >
        </select>
        <label>Chemist</label>
      </div>

      <div class="floating-label cmn-select">
        <select
          class="floating-select form-control"
          name="fcLocationName"
          [disabled]="locationArray.length == 0"
          [(ngModel)]="fcLocationMapID"
          (change)="getlocationid($event.target.value)"
        >
          <option
            *ngFor="let location of locationArray; let idx = index"
            [value]="location.fcLocationMapID"
            >{{ location.fcLocationName }}</option
          >
        </select>
        <label>Branch</label>
      </div>

      <div class="mdicne-rqird">
        <label class="bmd-label-floating">Medicine Required</label>
      </div>
      <div class="floating-label cmn-select" [formGroup]="selectForm">
        <select2
          formControlName="MedicineRequired"
          ngDefaultControl
          name="MedicineRequired"
          [(ngModel)]="drugcompundID"
          [options]="options"
          [width]="300"
          (valueChanged)="getMedByPharmaID($event.data, drugcompundID)"
        >
          <option
            *ngFor="let pharmaID of MedByPharmaArray; let idx = index"
            [value]="pharmaID"
            >{{ pharmaID.medicineName }}</option
          >
        </select2>
      </div>

      <div class="mt-10 clearfix odr-dtl-header">
        <div class="apmn-rgt">
          Total Medicines Cost :
          <!-- <span><i>₹</i> 17.76</span> -->
          <input
            class="form-control"
            type="number"
            [(ngModel)]="finalmedcost"
            name="totalmedicinecost"
          />
        </div>
      </div>
      <div class="cmn-list">
        <div
          class="cmn-apmnt-row clearfix"
          *ngFor="let pharmaID of selectedMeds; let idx = index"
        >
          <div class="apmn-lft">
            <img
              src="assets/images/drugs-icon.png"
              alt=""
              width="20"
              class="apmn-lft"
            />
            <div class="mdcin-dtl">
              <div class="dr-name">{{ pharmaID.medicineName }}</div>
              <!-- <div class="mdcin-cmpny">By ZYDUS CADILA HEALTHCARE LTD </div> -->
              <div class="mdcin-price">
                Cost Per Medicine:&nbsp;
                <strong><i>₹</i>&nbsp;{{ pharmaID.costpermedicine }}</strong>
              </div>
              <div class="mdcin-qty-dtl">
                Medicine Quantity:&nbsp;

                <input
                  type="number"
                  id="medqua"
                  name="{{pharmaID.medicineQuantity}}"
                  [(ngModel)]="newmed[pharmaID.medicineName]"
                  min="0"
                  required
                />
                <!-- <div class="form-group" >
         <label class="bmd-label-floating">Quantity</label>
          <input
            class="form-control"
            type="number"
            [(ngModel)]="costpermedicine"
            name="quantity"
          />
          
          <div
          *ngFor="let pharmaID of selectedMeds; let idx = index">
            {{pharmaID.medicineName}}
            <input type="number" id="medqua" name="{{pharmaID.medicineQuantity}}" [(ngModel)]="newmed[pharmaID.medicineName]" min="0" required>
            <div>
                <p class="alert alert-success">
              cost per medicine {{ pharmaID.medicineName }} is: Rs.{{ pharmaID.costpermedicine }}
                  </p>
            </div>
            <div>
                <p class="alert alert-success">
              Total available quantity for{{ pharmaID.medicineName }} is:{{ pharmaID.medicineQuantity }}
              </p>
            </div>
            </div>
         
        </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="pl15 pr15 form-bb">
        <div class="form-group">
          <label class="bmd-label-floating">Date of Appointment</label>
          <ion-datetime
            displayFormat="DD MMMM YYYY"
            pickerFormat="DD MMMM YYYY"
            name="date"
            [(ngModel)]="patAppDate"
          ></ion-datetime>
          <span class="input-icon"><img src="assets/images/date.png"/></span>
        </div>
      </div>

      <div class="pl15 pr15 form-bb">
        <div class="form-group">
          <label class="bmd-label-floating">Time Of Appointment</label>
          <ion-datetime
            displayFormat="hh:mm a"
            pickerFormat="hh:mm a"
            [(ngModel)]="patAppTime"
            name="timeFrom"
          ></ion-datetime>
          <span class="input-icon"><img src="assets/images/time.png"/></span>
        </div>
      </div> -->
      <!-- <form > -->
      <div class="floating-label cmn-select" [formGroup]="selectForm">
        <label>Medicine Required</label>

        <select2
          formControlName="MedicineRequired"
          ngDefaultControl
          name="MedicineRequired"
          [(ngModel)]="drugcompundID"
          [options]="options"
          [width]="500"
          (valueChanged)="getMedByPharmaID($event.data, drugcompundID)"
        >
          <option
            *ngFor="let pharmaID of MedByPharmaArray; let idx = index"
            [value]="pharmaID"
            >{{ pharmaID.medicineName }}</option
          >
        </select2>
      </div>
      <!-- </form> -->
      <div class="form-group">
        <label class="bmd-label-floating">Quantity</label>
        <input
          class="form-control"
          type="number"
          [(ngModel)]="costpermedicine"
          name="quantity"
        />

        <div *ngFor="let pharmaID of selectedMeds; let idx = index">
          {{pharmaID.medicineName}}
          <input
            type="number"
            id="medqua"
            name="{{pharmaID.medicineQuantity}}"
            [(ngModel)]="newmed[pharmaID.medicineName]"
            min="0"
            required
          />
          <div>
            <p class="alert alert-success">
              cost per medicine {{ pharmaID.medicineName }} is: Rs.{{
              pharmaID.costpermedicine }}
            </p>
          </div>
          <div>
            <p class="alert alert-success">
              Total available quantity for{{ pharmaID.medicineName }} is:{{
              pharmaID.medicineQuantity }}
            </p>
          </div>

          <div *ngFor="let pharmaID of selectedMeds; let idx = index">
            {{pharmaID.medicineName}}
            <input
              type="number"
              id="medqua"
              name="{{pharmaID.medicineQuantity}}"
              [(ngModel)]="newmed[pharmaID.medicineName]"
              min="0"
              required
            />
            <div>
              <p class="alert alert-success">
                cost per medicine {{ pharmaID.medicineName }} is: Rs.{{
                pharmaID.costpermedicine }}
              </p>
            </div>
            <div>
              <p class="alert alert-success">
                Total available quantity for{{ pharmaID.medicineName }} is:{{
                pharmaID.medicineQuantity }}
              </p>
            </div>
          </div>
        </div>
        -->

        <div class="offset-md-3 col-md-5 text-center mt-5">
          <button type="button" class="btn btn-info" (click)="getQuantity();">
            Generate Cost
          </button>
        </div>
      </div>
      <div class="offset-md-3 col-md-5 text-center">
        <button type="button" class="btn btn-info" (click)="getQuantity();">
          Generate Cost
        </button>
      </div>

      <div class="form-group">
        <label class="bmd-label-floating">Total Medicine Cost</label>
        <input
          class="form-control"
          type="number"
          [(ngModel)]="finalmedcost"
          name="totalmedicinecost"
        />
      </div>

      <!-- <div class="floating-label cmn-select">
        <select
          class="floating-select form-control"
          name="visittype"
          [(ngModel)]="visittypeId"
          (change)="getvisittypeid($event.target.value)"
        >
          <option
            *ngFor="let visit of visittypeArray; let idx = index"
            [value]="visit.key"
            >{{ visit.value }}</option
          >
        </select>
        <label>Visit Type</label>
      </div> -->

      <!-- <div class="floating-label cmn-select">
        <select
          class="floating-select form-control"
          name="deliveryType"
          [(ngModel)]="deliveryType"
          (change)="getdeliverytypeid($event.target.value)"
        >
          <option>Home Delivery</option>
          <option>Pick-up</option>
        </select>
        <label>Delivery Type</label>
      </div> -->

      <div class="pl15 pr15 form-bb">
        <div class="floating-label cmn-inpt">
          <textarea
            class="floating-input cmn-txtarea"
            name="Desciption"
            [(ngModel)]="patAppDescription"
          ></textarea>
          <label>Note</label>
        </div>
      </div>

      <ion-list>
        <ion-item>
          <ion-label>COD (Cash On Delivery)</ion-label>
          <ion-checkbox name="cod" (click)="addValue($event)"></ion-checkbox>
        </ion-item>
      </ion-list>

      <div class="floating-label cmn-select">
        <ion-label>Have Prescription ?</ion-label>
        <div class="col-md-5">
          <input
            type="radio"
            name="discounttype"
            [(ngModel)]="checkpres"
            value="Yes"
            (click)="checkpresmethod()"
          />
          Yes &nbsp;
          <input
            type="radio"
            name="discounttype"
            [(ngModel)]="checkpres"
            value="No"
            (click)="checkpresmethod()"
          />
          No <br />
        </div>
      </div>

      <div *ngIf="checkpres != 'No' && checkpres != ''" class="w-100">
        <div class="pl15 pr15 form-bb">
          <div class="form-group">
            <label class="bmd-label-floating">Note</label>

            <div class="pl15 pr15 form-bb">
              <div class="form-group cmn-file-upld mb-0 pt-30">
                <div class="filename"></div>
                <input
                  id="license-upld"
                  type="file"
                  class="form-control cmn-fl-input custom-file-input"
                  value=""
                />
                <label
                  (click)="buttonClickForChooseIDs(3)"
                  class="custom-file-label bmd-label-floating"
                  ><span class="lbl-txt">Upload File</span></label
                >
              </div>
            </div>
            <div class="preview-thumb pl15 pr15">
              <div class="prvw-doc" *ngFor="let item of arrcertificates">
                <img
                  src="{{item}}"
                  (click)="showPhoto(item)"
                  class="prvw-doc"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-button bg-gray pt-25 text-center">
        <button class="btn cmn-thm-btn mr-25" (click)="callAddAppointmentApi()">
          SAVE
        </button>
      </div>
      -->

      <div class="form-button bg-gray pt-25 text-center">
        <button class="btn cmn-thm-btn mr-25" (click)="callAddAppointmentApi()">
          MAKE PAYMENT
        </button>
        <button type="button" class="btn  cmn-wht-btn">CANCEL</button>
      </div>
    </form>
  </div>
  <script></script>
</ion-content>
