<!--
  Generated template for the IncomingmedicinerequiredlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <button ion-button menuToggle left>
      <ion-icon name="" class="toggleMenu"></ion-icon>
    </button>
    <ion-title>Medicine Request List</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="" class="notification-icon"
          ><span class="ntfctn-dot"></span
        ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="cmn-list-page">
    <div *ngIf="selectRole == 'MedicalCenter'">
      <div
        class="cmn-apmnt-row clearfix w-100 clearfix"
        #slidingItem
        *ngFor="let item of medicinerequestlist"
      >
        <div>
          <div class="apmn-lft" (click)="openItem(item)">
            <div class="dr-name">{{ item.patientName }}</div>
            <!-- <div class="dr-adrs">
              <img src="assets/images/location.png" />
              {{ item.facilityCenterName }} {{ item.facilityCenterType }} - {{
              item.fcLocationName }}
            </div> -->
            <div class="apmnt-dt-tm">
              <img src="assets/images/cal.png" />
              {{ item.apptdate | date: "dd/MM/yyyy" }}<span class="apmn-time"
                >{{ item.apptdate | date: "shortTime" }}</span
              >
            </div>
            <div class="apmnt-medicinename">{{item.medname}}</div>
          </div>

          <div
            *ngIf="item.status == 'Approved'"
            class="apmn-rgt"
            (click)="openItem(item)"
          >
            <span class="apmnt-lbl accepted">
              {{ item.status }}
            </span>
          </div>

          <div
            *ngIf="item.status == 'Reject'"
            class="apmn-rgt"
            (click)="openItem(item)"
          >
            <span class="apmnt-lbl cancelled">
              {{ item.status }}
            </span>
          </div>

          <div
            *ngIf="item.status == 'Dispatching'"
            class="apmn-rgt"
            (click)="openItem(item)"
          >
            <span class="apmnt-lbl dispatching">
              {{ item.status }}
            </span>
          </div>

          <div
            *ngIf="item.status == 'Pending'"
            class="apmn-rgt"
            (click)="openItem(item)"
          >
            <span class="apmnt-lbl pending">
              {{ item.status }}
            </span>
          </div>

          <div
            *ngIf="item.status == 'Completed'"
            class="apmn-rgt"
            (click)="openItem(item)"
          >
            <span class="apmnt-lbl accepted">
              {{ item.status }}
            </span>
          </div>
          <div
            *ngIf="item.status == 'Prepared'"
            class="apmn-rgt"
            (click)="openItem(item)"
          >
            <span class="apmnt-lbl prepared">
              {{ item.status }}
            </span>
          </div>
          <div
            *ngIf="item.status == 'Dispatched'"
            class="apmn-rgt"
            (click)="openItem(item)"
          >
            <span class="apmnt-lbl dispatched">
              {{ item.status }}
            </span>
          </div>

          <!-- <div class="apmn-rgt" (click)="openItem(item)">
            <span class="apmnt-lbl accepted">
              {{ item.status }}
            </span>
          </div> -->
        </div>
        <ion-item-options
          *ngIf="item.patAppStatus== 'Pending' && selectRole == 'Patient'"
        >
          <button
            ion-button
            color="calm"
            (click)="editItem(item.patAppointmentID)"
          >
            Edit
          </button>
          <!-- <button ion-button color="danger" (click)="Cancel(item)">
            Cancel
          </button> -->
        </ion-item-options>
        <!-- <ion-item-options
          *ngIf="item.patAppStatus== 'Completed' && selectRole == 'Patient'"
        >
          <button ion-button color="danger" (click)="ReBook(item)">
            Re-Book
          </button>
        </ion-item-options>
        <ion-item-options
          *ngIf="item.patAppStatus== 'Approved' && selectRole == 'Patient'"
        >
          <button ion-button color="danger" (click)="Cancel(item)">
            Cancel
          </button>
        </ion-item-options>
        <ion-item-options
          *ngIf="item.patAppStatus== 'Rejected' && selectRole == 'Patient'"
        >
          <button ion-button (click)="ReBook(item)">Re-Book</button>
        </ion-item-options>
        <ion-item-options
          *ngIf="item.patAppStatus== 'Canceled' && selectRole == 'Patient'"
        >
          <button ion-button (click)="ReBook(item)">Re-Book</button>
        </ion-item-options> -->

        <ion-item-options
          *ngIf="item.patAppStatus == 'Pending' && selectRole == 'Doctor'"
        >
          <button ion-button (click)="Approved(item)">Approve</button>
          <button ion-button color="danger" (click)="Rejected(item)">
            Reject
          </button>
          <button ion-button color="danger" (click)="Canceled(item)">
            Cancel
          </button>
        </ion-item-options>
        <ion-item-options
          *ngIf="item.patAppStatus == 'Approved' && selectRole == 'Doctor'"
        >
          <button ion-button (click)="Addvisit(item)">Add Visit</button>
          <button ion-button color="danger" (click)="Canceled(item)">
            Cancel
          </button>
        </ion-item-options>
      </div>
    </div>
  </div>

  <ion-fab bottom right>
    <button class="cmn-create-btn" ion-fab (click)="addItem()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<!-- <div class="cmn-list-page">
  <div class="cmn-tab-dsgn"></div>
  <ion-list class="cmn-tb-cntnt" *ngIf="selectRole == 'MedicalCenter'">
    <ion-item-sliding #slidingItem *ngFor="let item of medicinerequestlist">
      <ion-item (click)="openItem(item)">
        <div class="ptnt-name">{{item.patientName}}</div>
        <div class="apmnt-tm">
          {{item.apptdate | date:'dd/MM/yyyy'}} {{item.apptdate | date :
          'shortTime'}}
        </div>
        <div class="apmnt-medicinename">{{item.medname}}</div>
        <div class="apmnt-status">{{item.status}}</div>
      </ion-item>
      <ion-item-options
        *ngIf="item.patAppStatus== 'Pending' && selectRole == 'Patient'"
      >
        <button
          ion-button
          color="calm"
          (click)="editItem(item.patAppointmentID)"
        >
          Edit
        </button>
        <button ion-button color="danger" (click)="Cancel(item)">
          Cancel
        </button>
      </ion-item-options>
      <ion-item-options
        *ngIf="item.patAppStatus== 'Completed' && selectRole == 'Patient'"
      >
        <button ion-button color="danger" (click)="ReBook(item)">
          Re-Book
        </button>
      </ion-item-options>
      <ion-item-options
        *ngIf="item.patAppStatus== 'Approved' && selectRole == 'Patient'"
      >
        <button ion-button color="danger" (click)="Cancel(item)">
          Cancel
        </button>
      </ion-item-options>
      <ion-item-options
        *ngIf="item.patAppStatus== 'Rejected' && selectRole == 'Patient'"
      >
        <button ion-button (click)="ReBook(item)">Re-Book</button>
      </ion-item-options>
      <ion-item-options
        *ngIf="item.patAppStatus== 'Canceled' && selectRole == 'Patient'"
      >
        <button ion-button (click)="ReBook(item)">Re-Book</button>
      </ion-item-options>

      <ion-item-options
        *ngIf="item.patAppStatus == 'Pending' && selectRole == 'Doctor'"
      >
        <button ion-button (click)="Approved(item)">Approve</button>
        <button ion-button color="danger" (click)="Rejected(item)">
          Reject
        </button>
        <button ion-button color="danger" (click)="Canceled(item)">
          Cancel
        </button>
      </ion-item-options>
      <ion-item-options
        *ngIf="item.patAppStatus == 'Approved' && selectRole == 'Doctor'"
      >
        <button ion-button (click)="Addvisit(item)">Add Visit</button>
        <button ion-button color="danger" (click)="Canceled(item)">
          Cancel
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</div> -->
