<!--
  Generated template for the ProfiledemographicPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header> </ion-header>

<ion-content>
  <div class="cmn-form no-input-efct bg-fff mt5">
    <!-- <div class="pl15 pr15 form-bb">
      <div class="form-group">
        <label class="bmd-label-floating">Facility Center Name</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="addressObject.facilityname"
        />
      </div>
    </div> -->
    <!-- <div class="floating-label cmn-select">
      <select
        class="floating-select form-control"
        [(ngModel)]="addressObject.facilitytype"
      >
        <option value="India">Hospital</option>
        <option value="Greece">Lab</option>
        <option value="Tonga">MedicalCenter</option>
      </select>
      <label>Facility Center type</label>
    </div> -->
    <div class="pl15 pr15 form-bb">
      <div class="form-group">
        <label class="bmd-label-floating">Address Line 1</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="addressObject.addressLine1"
        />
      </div>
    </div>
    <div class="pl15 pr15 form-bb">
      <div class="form-group">
        <label class="bmd-label-floating">Address Line 2</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="addressObject.addressLine2"
        />
      </div>
    </div>
    <div class="pl15 pr15 form-bb">
      <div class="form-group">
        <label class="bmd-label-floating">Address Line 3</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="addressObject.addressLine3"
        />
      </div>
    </div>

    <div class="floating-label cmn-select">
      <select
        class="floating-select form-control"
        [(ngModel)]="addressObject.city"
      >
        <option>City </option>
        <option>ahmedabad </option>
      </select>
      <label>City</label>
    </div>
    <div class="floating-label cmn-select">
      <select
        class="floating-select form-control"
        [(ngModel)]="addressObject.state"
      >
        <option>State </option>
        <option>Gujarat </option>
      </select>
      <label>State</label>
    </div>
    <div class="floating-label cmn-select">
      <select
        class="floating-select form-control"
        [(ngModel)]="addressObject.country"
      >
        <option>Country </option>
        <option>India </option>
      </select>
      <label>Country</label>
    </div>
    <!-- <div class="pl15 pr15 form-bb">
      <div class="form-group">
        <label class="bmd-label-floating">city</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="addressObject.city"
        />
      </div>
    </div> -->
    <!-- <div class="pl15 pr15 form-bb">
      <div class="form-group">
        <label class="bmd-label-floating">State</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="addressObject.state"
        />
      </div>
    </div> -->

    <!-- <div class="pl15 pr15 form-bb">
      <div class="form-group">
        <label class="bmd-label-floating">Country</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="addressObject.country"
        />
      </div>
    </div> -->
    <div class="pl15 pr15 form-bb">
      <div class="form-group">
        <label class="bmd-label-floating">ZipCode</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="addressObject.zip"
        />
      </div>
    </div>
    <div class="floating-label cmn-select">
      <select
        class="floating-select form-control"
        [(ngModel)]="addressObject.timeZoneMaster.utcTimeZoneId"
        (change)="showTimeZone($event.target.value)"
      >
        <option
          *ngFor="let category of timeZoneArray; let idx = index"
          [value]="category.utcTimeZoneId"
          selected="{{ (idx == 0).utcTimeZoneId }}"
          >{{ category.countryName }}</option
        >
      </select>
      <label>Time Zone</label>
    </div>

    <div class="floating-label cmn-select">
      <select
        class="floating-select form-control"
        [(ngModel)]="timeSlotObject.weekDay"
      >
        <option>Day of the Week </option>
        <option>Monday </option>
        <option>Tuesday</option>
        <option>Wednesday </option>
        <option>Thursday</option>
        <option>Friday </option>
        <option>Saturday</option>
        <option>Sunday</option>
      </select>
      <label>Day of the Week</label>
    </div>
    <div class="pl15 pr15 form-bb">
      <div class="form-group">
        <label class="bmd-label-floating">Minute per Patient</label>
        <!-- <ion-datetime displayFormat="h:mm a"></ion-datetime> -->
        <input
          type="number"
          class="form-control"
          name="mntperpatient"
          [(ngModel)]="timeSlotObject.minPerPatient"
          step="1"
          min="1"
          max="60"
        />
        <span class="input-icon-txt fc-theme">Minute</span>
      </div>
    </div>
    <div class="pl15 pr15 form-bb">
      <div class="form-group">
        <label class="bmd-label-floating">Start Time</label>
        <ion-datetime
          displayFormat="h:mm A"
          name="startTime"
          [(ngModel)]="timeSlotObject.start"
          minuteValues="0,15,30,45"
        ></ion-datetime>
        <!-- <input
          type="number"
          class="form-control"
          name="startTime"
          displayFormat="HH:mm"
          [(ngModel)]="addressObject.timeSlot.start"
          step="1"
          min="1"
          max="60"
        /> -->
        <!-- <span class="input-icon-txt fc-theme">Minute</span> -->
      </div>
    </div>
    <div class="pl15 pr15 form-bb">
      <div class="form-group">
        <label class="bmd-label-floating">End Time</label>
        <ion-datetime
          displayFormat="h:mm A"
          name="endTime"
          [(ngModel)]="timeSlotObject.end"
          minuteValues="0,15,30,45"
        ></ion-datetime>
        <!-- <input
          type="number"
          class="form-control"
          name="endTime"
          displayFormat="HH:mm"
          [(ngModel)]="addressObject.timeSlot.end"
          step="1"
          min="1"
          max="60"
        /> -->
        <!-- <span class="input-icon-txt fc-theme">Minute</span> -->
      </div>
    </div>

    <div align="left">
      <button
        class="btn cmn-thm-btn mr-25"
        type="submit"
        (click)="addAddress()"
        block
      >
        Add New Address
      </button>
    </div>

    <!-- <div #map id="map_canvas" style="height:250px">
      </div> -->

    <ion-item>
      <ion-list class="cmn-tb-cntnt">
        <ion-item-sliding
          #slidingItem
          *ngFor="let item of demographicProfile.locationMaster"
        >
          <ion-item>
            <div class="dr-name">
              {{item.addressLine1}}, {{item.addressLine2}},
              {{item.addressLine3}}
            </div>
            <div class="apmnt-tm">
              {{item.city}}, {{item.state}}, {{item.country}}
            </div>
            <div class="rson-fr-meet">{{item.zip}} <br /></div>
            <span *ngFor="let i of item.timeSlot">
              <div class="rson-fr-meet">
                Day : {{i.weekDay}} <br />
                Time : {{i.start}} To {{i.end}} <br />
                Per Patient Time : {{i.minPerPatient}} <br />
              </div>
            </span>

            <ion-icon
              class="trashicon"
              (click)="deleteAddress(item)"
              name="trash"
              data-ng-if="(demographicProfile.locationMaster.length > 0)"
            ></ion-icon>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-item>
    <div class="pl15 pr15 form-bb">
      <div class="form-group">
        <label class="bmd-label-floating">Phone</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="demographicProfile.perMobilePrimary"
        />
      </div>
    </div>
    <div class="pl15 pr15 form-bb">
      <div class="form-group">
        <label class="bmd-label-floating">Secondary Phone</label>
        <input type="text" class="form-control" [(ngModel)]="secondaryPhone" />
      </div>
    </div>
    <button class="btn cmn-thm-btn mr-25" (click)="addtoList()">Add</button>
    <ion-item>
      <ion-list>
        <ion-item *ngFor="let list of demographicProfile.perMobileList">
          {{list}}
          <ion-icon
            class="trashicon"
            (click)="deleteelement(list)"
            name="trash"
            data-ng-if="(demographicProfile.perMobileList.length > 0)"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </ion-item>

    <div padding align="center">
      <div padding>
        <button
          class="btn cmn-thm-btn mr-25"
          type="submit"
          (click)="submitDetails()"
        >
          Submit
        </button>
        <!-- <div #map id="map_canvas" style="height:10%; width:10%"></div> -->
        <button class="cmn-wht-btn" type="Cancel" (click)="cancel()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</ion-content>

<!-- <ion-item>
  <ion-label floating>Facility Center Name</ion-label>
  <ion-input [(ngModel)]="addressObject.facilityname" type="text"></ion-input>
</ion-item>

<ion-item>
  <ion-label color="" floating>Facility Center type</ion-label>
  <ion-select [(ngModel)]="addressObject.facilitytype">
    <ion-option value="India">Hospital</ion-option>
    <ion-option value="Greece">Lab</ion-option>
    <ion-option value="Tonga">MedicalCenter</ion-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-label floating>Address Line 1</ion-label>
  <ion-input [(ngModel)]="addressObject.addressLine1" type="text"></ion-input>
</ion-item>
<ion-item>
  <ion-label floating>Address Line 2</ion-label>
  <ion-input [(ngModel)]="addressObject.addressLine2" type="text"></ion-input>
</ion-item>

<ion-item>
  <ion-label floating>Address Line 3</ion-label>
  <ion-input [(ngModel)]="addressObject.addressLine3" type="text"></ion-input>
</ion-item>

<ion-item>
  <ion-label floating>ZipCode</ion-label>
  <ion-input [(ngModel)]="addressObject.zip" type="number"></ion-input>
</ion-item>

<ion-item>
  <ion-label floating>area</ion-label>
  <ion-input [(ngModel)]="addressObject.area" type="text"></ion-input>
</ion-item>

<ion-item>
  <ion-label floating>city</ion-label>
  <ion-input [(ngModel)]="addressObject.city" type="text"></ion-input>
</ion-item>

<ion-item>
  <ion-label floating>State</ion-label>
  <ion-input [(ngModel)]="addressObject.state" type="text"></ion-input>
</ion-item>

<ion-item>
  <ion-label floating>Country</ion-label>
  <ion-input [(ngModel)]="addressObject.country" type="text"></ion-input>
</ion-item>

<div padding align="center">
  <button ion-button type="submit" (click)="addAddress()" block>
    Add New Address
  </button>
</div>

<ion-item>
  <ion-list class="cmn-tb-cntnt">
    <ion-item-sliding
      #slidingItem
      *ngFor="let item of demographicProfile.locationMaster"
    >
      <ion-item>
        <div class="ptnt-name">
          {{item.addressLine1}}, {{item.addressLine2}}, {{item.addressLine3}}
        </div>
        <div class="rson-fr-meet">{{item.area}}, {{item.zip}}</div>
        <div class="apmnt-tm">
          {{item.city}}, {{item.state}}, {{item.country}}
        </div>
        <div class="apmnt-status">{{item.patAppStatus}}</div>
      </ion-item>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteAddress(item)">
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-item>

<ion-item>
  <ion-label floating>Phone</ion-label>
  <ion-input
    [(ngModel)]="demographicProfile.perMobilePrimary"
    type="number"
  ></ion-input>
</ion-item>

<ion-item>
  <ion-label floating>Secondary Phone</ion-label>
  <ion-input type="number" [(ngModel)]="secondaryPhone"></ion-input>
</ion-item>

<button ion-button (click)="addtoList()">Add</button>

<ion-item>
  <ion-list>
    <ion-item *ngFor="let list of demographicProfile.perMobileList">
      {{list}}
      <ion-icon
        class="trashicon"
        (click)="deleteelement(list)"
        name="trash"
        data-ng-if="(demographicProfile.perMobileList.length > 0)"
      ></ion-icon>
    </ion-item>
  </ion-list>
</ion-item>

<div padding align="center">
  <div padding>
    <button ion-button type="submit" (click)="submitDetails()">Submit</button>
    <button ion-button type="Cancel">Cancel</button>
  </div>
</div> -->
