<!--
  Generated template for the AddAppointmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle left>
      <ion-icon name="" class="toggleMenu"></ion-icon>
    </button>
    <ion-title>Edit Appointment</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="" class="notification-icon"
          ><span class="ntfctn-dot"></span
        ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="book-apmnt pt-20 bg-fff">
    <form class="cmn-form no-input-efct mb-20">
      <div class="floating-label cmn-select">
        <select
          class="floating-select form-control"
          name="faciltyCenterName"
          [(ngModel)]="facilityCenterID"
          [disabled]="facilitiesArray.length == 0"
          (change)="getFacilityid($event.target.value)"
        >
          <option
            *ngFor="let category of facilitiesArray; let idx = index"
            [value]="category.facilityCenterID"
            selected="{{ (idx == 0).facilityCenterID }}"
            >{{ category.facilityCenterName }}</option
          >
        </select>
        <label>Facility</label>
      </div>
      <div class="floating-label cmn-select">
        <select
          class="floating-select form-control"
          name="fcLocationName"
          [(ngModel)]="fcLocationMapID"
          [disabled]="locationArray.length == 0"
          (change)="getlocationid($event.target.value)"
        >
          <option
            *ngFor="let location of locationArray; let idx = index"
            [value]="location.fcLocationMapID"
            selected="{{ (idx == 0).fcLocationMapID }}"
            >{{ location.fcLocationName }}</option
          >
        </select>
        <label>Location</label>
      </div>
      <div class="floating-label cmn-select">
        <select
          class="floating-select form-control"
          name="specialityName"
          [(ngModel)]="specialityID"
          [disabled]="specialityArray.length == 0"
          (change)="getspecialityid($event.target.value)"
        >
          <option
            *ngFor="let speciality of specialityArray; let idx = index"
            [value]="speciality.specialityID"
            selected="{{ (idx == 0).specialityID }}"
            >{{ speciality.specialityName }}</option
          >
        </select>
        <label>Speciality</label>
      </div>
      <div class="floating-label cmn-select">
        <select
          class="floating-select form-control"
          name="providerName"
          [(ngModel)]="fclProviderMapID"
          [disabled]="doctorArray.length == 0"
          (ngModelChange)="getdoctorid($event.target.value)"
        >
          <option
            *ngFor="let doctor of doctorArray; let idx = index"
            [value]="doctor.fclProviderMapID"
            selected="{{ (idx == 0).fclProviderMapID }}"
            >{{ doctor.providerName }}</option
          >
        </select>
        <label>List of Doctor</label>
      </div>
      <div class="pl15 pr15 form-bb">
        <div class="form-group">
          <label class="bmd-label-floating">Date of Appointment</label>
          <ion-datetime
            displayFormat="DD MMMM YYYY"
            pickerFormat="DD MMMM YYYY"
            name="date"
            [(ngModel)]="selectedpatAppDate"
          ></ion-datetime>
          <span class="input-icon"><img src="assets/images/date.png"/></span>
        </div>
      </div>
      <div class="pl15 pr15 form-bb">
        <div class="form-group">
          <label class="bmd-label-floating">Time From</label>
          <ion-datetime
            displayFormat="hh:mm a"
            pickerFormat="hh:mm a"
            [(ngModel)]="selectedpatAppTimeFrom"
            name="timeFrom"
          ></ion-datetime>
          <span class="input-icon"><img src="assets/images/time.png"/></span>
        </div>
      </div>
      <div class="pl15 pr15 form-bb">
        <div class="form-group">
          <label class="bmd-label-floating">Time To</label>
          <ion-datetime
            displayFormat="hh:mm a"
            pickerFormat="hh:mm a"
            [(ngModel)]="selectedpatAppTimeTo"
            name="timeTo"
          ></ion-datetime>
          <span class="input-icon"><img src="assets/images/time.png"/></span>
        </div>
      </div>
      <div class="floating-label cmn-select">
        <select
          class="floating-select form-control"
          [(ngModel)]="visittypeId"
          name="visitType"
          (ionChange)="getvisittypeid($event.target.value)"
        >
          <option
            *ngFor="let reason of visittypeArray; let idx = index"
            [value]="reason.key"
            selected="{{ (idx == 0).key }}"
            >{{ reason.value }}</option
          >
        </select>
        <label>Visit Type</label>
      </div>
      <div class="floating-label cmn-select">
        <select
          class="floating-select form-control"
          [(ngModel)]="visitreasonId"
          [disabled]="visitreasonArray.length == 0"
          (ionChange)="getvisitreasonid($event.target.value)"
          name="reasonForVisit"
        >
          <option
            *ngFor="let reason of visitreasonArray; let idx = index"
            [value]="reason.key"
            selected="{{ (idx == 0).key }}"
            >{{ reason.value }}</option
          >
        </select>
        <label>Reason for Visit</label>
      </div>
      <div class="pl15 pr15 form-bb">
        <div class="floating-label cmn-inpt">
          <textarea
            class="floating-input cmn-txtarea"
            type="text"
            name="Desciption"
            [(ngModel)]="selectedpatAppDescription"
            rows="4"
          ></textarea>
          <label>Additional Detail</label>
        </div>
      </div>

      <div class="form-button bg-gray pt-25 text-center">
        <button
          type="button"
          class="cmn-thm-btn mr-25"
          (click)="callEditAppointmentApi()"
        >
          SAVE
        </button>
      </div>
    </form>
  </div>
</ion-content>

<!-- <div class="add-action">
            <button ion-button class="add-round"><img src="../assets/imgs/plus-ic.png"></button>
          </div> -->
